#tableOfContents {
    font-family: "Open Sans", arial, sans-serif;
    font-size: .8em;
}

#tableOfContents .meta {
    font-style: italic;
}

#tableOfContents .floatRight {
    float: right;
}

#tableOfContents .collapsed {
    display: none;
}

#tableOfContents div#tableOfContentsLabel, #tableOfContents div#tableOfContentsList {
    /*background: #fcd415;*/
    background: #fffcfc;
    /*background: #f3f3ff;*/
    padding: .5em;
    position: fixed;
    right: 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    opacity: .95;
}

#tableOfContents div#tableOfContentsLabel {
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    top: 10px;
}

#tableOfContents div#tableOfContentsList {
    top: 45px;
    max-height: 85%;
    overflow-y: auto;
}

#tableOfContents ol {
    padding-left: 0;
}

#tableOfContents ol ol {
    padding-left: 1.5em;
}

#tableOfContents ol li {
    list-style-type: none;
    margin: .3em 0;
}

#tableOfContents a, #tableOfContents a:visited {
    text-decoration: none;
    color: #217ac0;
}

#tableOfContents .headingNumbering {
    font-size: .9em;
    margin-right: .5em;
    color: #666666;
}

#tableOfContents .level0 {
    font-size: 1.02em;
}

#tableOfContents .level1 {
    font-size: 1em;
}

#tableOfContents .level2 {
    font-size: .98em;
}

#tableOfContents .level3 {
    font-size: .96em;
}

#tableOfContents .level4 {
    font-size: .94em;
}

#tableOfContents .level5 {
    font-size: .92em;
}

#tableOfContents #tableOfContentsCollapseIcon, #tableOfContents #tableOfContentsExpandIcon {
    float: right;
    margin-left: 1em;
    font-family: Courier, monospace;
}