#tableOfContents {
    font-family: "Open Sans", arial, sans-serif;
    font-size: .8em;
}

#tableOfContents .meta {
    font-style: italic;
}

#tableOfContents .floatRight {
    float: right;
}

#tableOfContents .collapsed,
#inlineTableOfContents .collapsed {
    display: none;
}

#tableOfContents div#tableOfContentsLabel, #tableOfContents div#tableOfContentsList {
    /*background: #fcd415;*/
    background: #fffcfc;
    /*background: #f3f3ff;*/
    padding: .5em;
    position: fixed;
    right: 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    opacity: .95;
}

#tableOfContents div#tableOfContentsLabel {
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    top: 10px;
}

#tableOfContents div#tableOfContentsList {
    top: 45px;
    max-height: 85%;
    overflow-y: auto;
    /*max-width: 25em;*/
}

#tableOfContents ol,
#inlineTableOfContents ol {
    padding-left: 0;
}

#tableOfContents ol ol,
#inlineTableOfContents ol ol {
    padding-left: 1.5em;
}

#tableOfContents ol li,
#inlineTableOfContents ol li {
    list-style-type: none;
    margin: .3em 0;
}

#tableOfContents a, #tableOfContents a:visited,
#inlineTableOfContents a, #inlineTableOfContents a:visited {
    text-decoration: none;
    color: #217ac0;
}

#tableOfContents a:hover,
#inlineTableOfContents a:hover {
    color: deepskyblue;
}

#tableOfContents .headingNumbering,
#inlineTableOfContents .headingNumbering {
    font-size: .9em;
    margin-right: .5em;
    color: #666666;
}

#tableOfContents .level0 {
    font-size: 1.02em;
}

#tableOfContents .level1 {
    font-size: 1em;
}

#tableOfContents .level2 {
    font-size: .98em;
}

#tableOfContents .level3 {
    font-size: .96em;
}

#tableOfContents .level4 {
    font-size: .94em;
}

#tableOfContents .level5 {
    font-size: .92em;
}

#tableOfContents #tableOfContentsCollapseIcon, #tableOfContents #tableOfContentsExpandIcon {
    float: right;
    margin-left: 1em;
    font-family: Courier, monospace;
}

#inlineTableOfContents #inlineTableOfContentsCollapseIcon, #inlineTableOfContents #inlineTableOfContentsExpandIcon {
    margin-left: 0.5em;
    color: #dddddd;
}

#inlineTableOfContents #inlineTableOfContentsLabel {
    cursor: pointer;
    color: #999999;
}

#inlineTableOfContents #inlineTableOfContentsLabel:hover {
    color: black;
}

:root {
    counter-reset: h1 h2 h3 h4 h5 h6;
    --color-heading-numbering: darkgoldenrod;
}

h1 {
    counter-reset: h2 h3 h4 h5 h6;
    counter-increment: h1;
}

h1.useNumberingInOriginalText:before {
    content: counter(h1) " "
}

h2 {
    counter-reset: h3 h4 h5 h6;
    counter-increment: h2;
}

h2.useNumberingInOriginalText:before {
    content: counter(h1) "." counter(h2) " "
}

h3 {
    counter-reset: h4 h5 h6;
    counter-increment: h3;
}

h3.useNumberingInOriginalText:before {
    content: counter(h1) "." counter(h2) "." counter(h3) " "
}

h4 {
    counter-reset: h5 h6;
    counter-increment: h4;
}

h4.useNumberingInOriginalText:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " "
}

h5 {
    counter-reset: h6;
    counter-increment: h5;
}

h5.useNumberingInOriginalText:before {
    content: counter(h1) "." counter(h2)  "." counter(h3)  "." counter(h4)  "." counter(h5) " "
}

h6 {
    counter-increment: h6;
}

h6.useNumberingInOriginalText:before {
    content: counter(h1) "." counter(h2)  "." counter(h3)  "." counter(h4)  "." counter(h5)  "." counter(h6) " "
}

:is(h1, h2, h3, h4, h5, h6):before {
    color: var(--color-heading-numbering);
    font-size: 0.9em;
}